/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cor de fundo e fonte padrão */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

/* Estilo do cabeçalho */
.header {
    background-color: #28a745; /* Verde */
    color: white;
    padding: 20px;
    text-align: center;
}

.header .logo h1 {
    font-size: 2em;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/* Estilo da seção de produtos em destaque */
.main-content {
    padding: 40px 20px;
    background-color: #f4f4f4;
}

.featured-products h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #28a745; /* Verde */
}

.product-card {
    display: inline-block;
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-name {
    font-size: 1.2em;
    color: #333;
}

.product-price {
    font-size: 1.5em;
    color: #28a745; /* Verde */
}

/* Rodapé */
.footer {
    background-color: #28a745; /* Verde */
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}